body {
    background-color: #f8f9fa;
}

.navbar-brand {
    font-weight: bold;
}

.card {
    margin-top: 2rem;
}

img {
    max-width: 100%;
    height: auto;
}

/* homepage background */
body.home {
    background-image: url('/static/images/dog_breed.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
